<article class="footer">
  <div class="footerContent">
    <div>
      <ul class="users">
        <li>Clientes</li>
        <li>Terapeutas</li>
      </ul>
    </div>
    <div class="abouts">
      <ul>
        <li>Termos e Condições</li>
        <li>Politica de Privacidade e Segurança</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>Clientes</li>
        <li>Terapeutas</li>
      </ul>
    </div>
    <div class="socialnetwork">
      <ul>
        <li><img src="assets/images/icons/png/facebook.png" alt="" /></li>
        <li>
          <a href="https://www.instagram.com/talk.n.walk/" target="_blank"
            ><img src="assets/images/icons/png/instagram.png" alt=""
          /></a>
        </li>
      </ul>
    </div>
  </div>
</article>
