<article>
  <div class="mainContainer">
    <div></div>
    <div class="mainContent">
      <article>
        <div>
          <video
            src="assets/video/talknwalk typewriter com som.mp4"
            controls
            autoplay
            muted
          ></video>
        </div>
        <div class="textContainer">
          <div class="text">
            Mede como te sentes, desabafa e melhora a tua saúde mental, tudo
            numa só plataforma!
          </div>
          <div class="button">
            <a
              href="https://gbsardinha.github.io/appTeste/index.html"
              target="_blank"
              ><button>SIGN UP</button></a
            >
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="pacientesContainer">
    <div class="pacientesContent">
      <article>
        <h1>Para quem procura aconselhamento</h1>
        <ul>
          <li>Acede a conteúdos exclusivos e personalizados</li>
          <li>Desabafa com voluntários e terapeutas</li>
          <li>Mede como te sentes diariamente</li>
          <li>Anonimato total</li>
        </ul>
      </article>
    </div>
    <div><img src="assets/images/fundos/clientes.png" alt="" /></div>
  </div>
  <div class="terapeutasContainer">
    <div>
      <div class="terapeutasContent">
        <article>
          <h1>Para terapeutas e voluntários</h1>
          <ul>
            <li>Redução de custos de aluguer de espaço para consulta</li>
            <li>Angariação de clientes mais rápida e eficaz</li>
            <li>Independência profissional e financeira</li>
            <li>Relatórios completos das consultas</li>
          </ul>
        </article>
      </div>
    </div>
    <div><img src="assets/images/fundos/terapeutas.png" alt="" /></div>
  </div>
  <div class="appContainer">
    <div class="videoContainer">
      <img src="assets/images/fundos/tlm_back.png" alt="" class="tlmBack" />
      <video autoplay muted class="video">
        <source src="assets/video/videochamada_website.mp4" />
      </video>
      <img src="assets/images/fundos/tlm_Frt.png" alt="" class="tlmFrt" />
    </div>
    <div>
      <div class="appContent">
        <article>
          <div><h1>Começa uma nova caminhada</h1></div>

          <div id="appText">Faz o download grátis de TalknWalk</div>
          <div class="appstore">
            <ul>
              <li>
                <img src="assets/images/icons/svg/001-google-play.svg" alt="" />
              </li>
              <li>
                <img src="assets/images/icons/svg/002-app-store.svg" alt="" />
              </li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</article>
